<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>博主画像</title>
    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/echarts-wordcloud.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
  <!-- 导航栏 -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a href="{{url_for('index')}}"><img src="http://www.cbdio.com/image/attachement/jpg/site2/20150106/3417eb9bbd5916158ab154.jpg"
    style="width: 70px; height: 60px;"></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active" style="margin-left: 20px; font-size: 18px">
        <a style="margin-left: 1px; font-size: 20px" class="nav-link" href="{{url_for('index')}}">主页 </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="请输入..." aria-label="Search" >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜一下</button>
    </form>
  </div>
</nav>
  <!-- 侧边栏（第一个大类） -->
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" style="margin-top: 30px" id="v-pills-home-tab" href="{{ url_for('index') }}" role="tab" aria-controls="v-pills-home" aria-selected="true">综合</a>
          <a class="nav-link" style="margin-top: 30px" id="v-pills-weibo-tab" href="{{ url_for('weibosearch') }}" role="tab" aria-controls="v-pills-profile" aria-selected="false">微博分析</a>
          <a class="nav-link active" style="margin-top: 30px" id="v-pills-user-tab"  href="{{ url_for('usersearch') }}" role="tab" aria-controls="v-pills-messages" aria-selected="false">博主分析</a>
          <a class="nav-link" style="margin-top: 30px" id="v-pills-monitor-tab" href="{{url_for('monitor') }}" role="tab" aria-controls="v-pills-settings" aria-selected="false">微博监测</a>
          <a class="nav-link" style="margin-top: 30px" id="v-pills-hotpot-tab" href="{{url_for('hotpoint')}}" role="tab" aria-controls="v-pills-settings" aria-selected="false">热点Top20</a>
        </div>
      </div>



      <!--第二大类-->
      <div class="col-sm-10">
        <!--  博主信息  -->
          <div class="shadow p-3 mb-5 bg-white rounded" style="margin-top: 10px">
            <div style="display: inline-block"><img class="rounded-circle" src="../static/img/avator1.jpg" alt="读取失败" width="80" height="80"></div>
            <div style="display: inline-block">
              <div style='font: 14px "PingFang SC"; color: #222222; margin-left: 25px'><a href="#" style="color:#333"><h5>{{infos[0]}}</h5></a></div>
              <div style='font: 13px "PingFang SC"; color: #666666; margin-left: 25px; margin-top: 15px'>性别:{{infos[7]}} | 地区:{{infos[1]}} | 标签:{{infos[2]}}</div>
              <div style='font: 13px "PingFang SC"; color: #666666; margin-left: 25px; margin-top: 15px'>简介:{{infos[3]}}</div>
            </div>
            <div style="margin: 28px 0;">
              <span style="font-size: 16px; color: rgb(34, 34, 34); font-weight: bold;">数据概况
                  <span style="margin-left: 24px; color: rgb(102, 102, 102); font-size: 12px; font-weight: 500;">
                      数据更新时间：{{infos[4]}}
                  </span>
              </span>
            </div>
            <div>
                <div class="item" style="margin-left: 50px; display: inline-block; text-align: center;">
                    <div  style="font-weight: 600; font-size: 21px; color: #333;">{{infos[5]}}</div>
                    <div class="des" style="font-size: 14px; color: #666; margin-top: 5px;">粉丝总数</div>
                </div>
                <div class="item" style="margin-left: 20px; display: inline-block; text-align: center;">
                    <div  style="font-weight: 600; font-size: 21px; color: #333;">{{infos[6]}}</div>
                    <div class="des" style="font-size: 14px; color: #666; margin-top: 5px;">微博总数</div>
                </div>
                <div class="item" style="margin-left: 20px; display: inline-block; text-align: center;">
                    <div  style="font-weight: 600; font-size: 21px; color: #333;">12504.3w</div>
                    <div class="des" style="font-size: 14px; color: #666; margin-top: 5px;">点赞总数</div>
                </div>
                <div class="item" style="margin-left: 20px; display: inline-block; text-align: center;">
                    <div  style="font-weight: 600; font-size: 21px; color: #333;">10753</div>
                    <div class="des" style="font-size: 14px; color: #666; margin-top: 5px;">平均点赞</div>
                </div>
                <div class="item" style="margin-left: 20px; display: inline-block; text-align: center;">
                    <div  style="font-weight: 600; font-size: 21px; color: #333;">11304.4w</div>
                    <div class="des" style="font-size: 14px; color: #666; margin-top: 5px;">评论总数</div>
                </div>
                <div class="item" style="margin-left: 20px; display: inline-block; text-align: center;">
                    <div  style="font-weight: 600; font-size: 21px; color: #333;">2572.5w</div>
                    <div class="des" style="font-size: 14px; color: #666; margin-top: 5px;">转发总数</div>
                </div>
                <div class="item" style="margin-left: 20px; display: inline-block; text-align: center;">
                    <div  style="font-weight: 600; font-size: 21px; color: #333;">92.9%</div>
                    <div class="des" style="font-size: 14px; color: #666; margin-top: 5px;">赞粉比</div>
                </div>

            </div>
          </div>

          <!--导航栏-->
          <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('userinfo') }}">数据分析</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('userhotweibo') }}">热门微博</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('userfansinfo') }}">粉丝画像</a>
              </li>
          </ul>
          <!--数据分析-->




<!-- 主js函数 -->
    <script>
        $(
                function () {
                    fetchData_fan();
                    fetchData_like();
                    fetchData_comment();
                    fetchData_etime();
                    fetchData_hotword();
                    fetchData_compare();
                    }
            );

    </script>
      <!--  微博趋势        -->
      <div class="shadow p-3 mb-5 bg-white rounded" style="width:445px;height:370px; display: inline-block;" >
        <div id="fan" style="width:430px;height:350px;display: inline-block;" >
            <script>
                var fans = echarts.init(document.getElementById('fan'), 'white', {renderer: 'canvas'});
                function fetchData_fan() {
                    $.ajax({
                        type: "GET",
                        url: "http://127.0.0.1:5000/line_weibos",
                        dataType: 'json',
                        success: function (result) {
                            fans.setOption(result);
                        }
                    });
                }
            </script>
        </div>
      </div>
          <!--  点赞趋势        -->
      <div class="shadow p-3 mb-5 bg-white rounded" style="width:445px;height:370px; margin-left: 20px;display: inline-block;" >
          <div id="like" style="width:450px;height:350px;display: inline-block;" >
            <script>
                var likes = echarts.init(document.getElementById('like'), 'white', {renderer: 'canvas'});
                function fetchData_like() {
                    $.ajax({
                        type: "GET",
                        url: "http://127.0.0.1:5000/line_zans",
                        dataType: 'json',
                        success: function (result) {
                            likes.setOption(result);
                        }
                    });
                }
            </script>
        </div>
      </div>
      <div class="shadow p-3 mb-5 bg-white rounded" style="width:445px;height:370px; display: inline-block;" >
      <!--  评论趋势   -->
          <div id="comment" style="width:430px;height:350px;display: inline-block;" >
            <script>
                var comments = echarts.init(document.getElementById('comment'), 'white', {renderer: 'canvas'});
                function fetchData_comment() {
                    $.ajax({
                        type: "GET",
                        url: "http://127.0.0.1:5000/line_comments",
                        dataType: 'json',
                        success: function (result) {
                            comments.setOption(result);
                        }
                    });
                }
            </script>
        </div>
      </div>
          <!--  作品发布时间分布   -->
    <div class="shadow p-3 mb-5 bg-white rounded" style="width:445px;height:370px; margin-left: 20px;display: inline-block;" >
        <div id="etime" style="width:450px;height:350px;display: inline-block;" >
            <script>
                var etimes = echarts.init(document.getElementById('etime'), 'white', {renderer: 'canvas'});
                function fetchData_etime() {
                    $.ajax({
                        type: "GET",
                        url: "http://127.0.0.1:5000/bar",
                        dataType: 'json',
                        success: function (result) {
                            etimes.setOption(result);
                        }
                    });
                }
            </script>
        </div>
      </div>
    <!-- 评论热词-->
      <div class="shadow p-3 mb-5 bg-white rounded" style="width:915px;height:400px;" >
        <div id="hotword" style="width:445px;height:350px;display: inline-block;" >
            <script>
                var hotwords = echarts.init(document.getElementById('hotword'), 'white', {renderer: 'canvas'});
                function fetchData_hotword() {
                    $.ajax({
                        type: "GET",
                        url: "http://127.0.0.1:5000/wordcloud",
                        dataType: 'json',
                        success: function (result) {
                            hotwords.setOption(result);
                        }
                    });
                }
            </script>
        </div>
    <!-- 评论展示 -->
        <div style="display: inline-block;">
            <div>
              <p><span style='color: #333333; Font:14px "PingFang SC"; font-weight: bold;'>有些事要做了，而且还要做好！老百姓自然会去赞美</span></p>
              <p style="color: rgb(102, 102, 102); font-size: 12px; font-weight: 500; ">2012-09-03 10:01:46</p>
            </div>
            <div>
              <p><span style='color: #333333; Font:14px "PingFang SC"; font-weight: bold;'>真是悲剧[蜡烛]名人的悲哀，有得必有失</span></p>
              <p style="color: rgb(102, 102, 102); font-size: 12px; font-weight: 500;">2012-09-01 01:48:51</p>
            </div>
            <div>
              <p><span style='color: #333333; Font:14px "PingFang SC"; font-weight: bold;'>不是可能两极分化，是本已惊人的两极分化...</span></p>
              <p style="color: rgb(102, 102, 102); font-size: 12px; font-weight: 500; ">2012-09-03 19:37:42</p>
            </div>
            <div>
              <p><span style='color: #333333; Font:14px "PingFang SC"; font-weight: bold;'>说得好!我最近也在思考分蛋糕的问题~...</span></p>
              <p style="color: rgb(102, 102, 102); font-size: 12px; font-weight: 500;">2012-09-03 18:34:59</p>
            </div>
            <div>
              <p><span style='color: #333333; Font:14px "PingFang SC"; font-weight: bold;'>或许有人认为，时间是最好的解药，今天的焦点，也许就是~...</span></p>
              <p style="color: rgb(102, 102, 102); font-size: 12px; font-weight: 500;">2012-09-03 18:34:59</p>
            </div>
          </div>
      </div>
<!-- 近10个作品对比 -->
      <div class="shadow p-3 mb-5 bg-white rounded" >
        <div id="compare" style="width:900px;height:350px" >
            <script>
                var compares = echarts.init(document.getElementById('compare'), 'white', {renderer: 'canvas'});
                function fetchData_compare() {
                    $.ajax({
                        type: "GET",
                        url: "http://127.0.0.1:5000/weiboinfo-ten",
                        dataType: 'json',
                        success: function (result) {
                            compares.setOption(result);
                        }
                    });
                }
            </script>
        </div>
      </div>





<!--  ######  -->
      </div>
    </div>
  </div>

</body>

</html>
