<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>微博画像</title>
    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/echarts-wordcloud.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
  <!-- 导航栏 -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a href="{{url_for('index')}}"><img src="http://www.cbdio.com/image/attachement/jpg/site2/20150106/3417eb9bbd5916158ab154.jpg"
    style="width: 70px; height: 60px;"></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active" style="margin-left: 20px; font-size: 18px">
        <a style="margin-left: 1px; font-size: 20px" class="nav-link" href="{{url_for('index')}}">主页 </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="请输入..." aria-label="Search" >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜一下</button>
    </form>
  </div>
</nav>
  <!-- 侧边栏（第一个大类） -->
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" style="margin-top: 30px" id="v-pills-home-tab" href="{{ url_for('index') }}" role="tab" aria-controls="v-pills-home" aria-selected="true">综合</a>
          <a class="nav-link active" style="margin-top: 30px" id="v-pills-weibo-tab" href="{{ url_for('weibosearch') }}" role="tab" aria-controls="v-pills-profile" aria-selected="false">微博分析</a>
          <a class="nav-link" style="margin-top: 30px" id="v-pills-user-tab"  href="{{ url_for('usersearch') }}" role="tab" aria-controls="v-pills-messages" aria-selected="false">博主分析</a>
          <a class="nav-link" style="margin-top: 30px" id="v-pills-monitor-tab" href="{{url_for('monitor') }}" role="tab" aria-controls="v-pills-settings" aria-selected="false">微博监测</a>
          <a class="nav-link" style="margin-top: 30px" id="v-pills-hotpot-tab" href="{{url_for('hotpoint')}}" role="tab" aria-controls="v-pills-settings" aria-selected="false">热点Top20</a>
        </div>
      </div>
      <!--第二大类-->
      <div class="col-sm-10">
      <!-- 微博详细信息 -->
          <div class="shadow p-3 mb-5 bg-white rounded" style="margin-top: 15px">
<div style="display: inline-block"><img class="rounded-circle" src={{infos[6]}} alt="读取失败" width="60" height="60"></div>            <div style="display: inline-block">
              <div style='font: 10px "PingFang SC"; color: #222222; margin-left: 15px'><a href="{{url_for('userinfo')}}" style="color:#333"><h5 style="font-size: 17.5px">{{infos[0]}}</h5></a></div>
              <div style='font: 13px "PingFang SC"; color: #666666; margin-left: 15px; margin-top: 15px'>发布于：{{infos[1]}} | 类别：国家 | 来自：网页版微博</div>
            </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p  style="font-size: 15px;"><a href="{{url_for('weiboinfo')}}" style="color: #222222">{{infos[2]}}</a></p>
              <div style="text-align: right; margin-top: 30px;">
                  <img src="/static/img/trans.svg" width="20" height="20" class="d-inline-block align-top" alt="" style="margin-left: 20px; ">
                  <a style="color: #6c757d; font-size: 17px">{{infos[3]}}</a>
                  <img src="/static/img/pinglun.svg" width="20" height="20" class="d-inline-block align-top" alt="" style="margin-left: 20px; ">
                  <a style="color: #6c757d; font-size: 17px" >{{infos[4]}}</a>
                  <img src="/static/img/zan.png" width="20" height="20" class="d-inline-block align-top" alt="" style="margin-left: 20px;">
                  <a style="color: #6c757d; font-size: 17px">{{infos[5]}}</a>
              </div>
            </blockquote>
          </div>
        </div>
      <!-- 导航栏 -->
        <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('weiboinfo') }}">微博详情</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('viewerinfo') }}">观众分析</a>
              </li>
          </ul>
<!-- 主js函数 -->
    <script>
        $(
                function () {
                    fetchData_keys();
                    }
            );

    </script>
    <nav style="margin-top: 30px">
      <a class="navbar-brand" href="#" style="color: #222222">
        <img src="/static/img/info.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        博主信息
      </a>
    </nav>
        <div class="shadow p-3 mb-5 bg-white rounded" style="margin-top: 15px">
             <div style="display: inline-block"><img class="rounded-circle" src="{{infos[6]}}" alt="读取失败" width="60" height="60"></div>            <div style="display: inline-block">
             <div style='font: 10px "PingFang SC"; color: #222222; margin-left: 15px'><a href="{{url_for('userinfo')}}" style="color:#333"><h5 style="font-size: 17.5px">{{infos[0]}}</h5></a></div>
             <div style='font: 13px "PingFang SC"; color: #666666; margin-left: 15px; margin-top: 15px'>粉丝数：11617.4w</div>
        </div>
             <div class="item" style="margin-left: 80px; display: inline-block; text-align: center;">
                    <div  style="font-weight: 600; font-size: 21px; color: #333;">11.625k</div>
                    <div class="des" style="font-size: 14px; color: #666; margin-top: 5px;">微博总数</div>
                </div>
             <div class="item" style="margin-left: 80px; display: inline-block; text-align: center;">
                    <div  style="font-weight: 600; font-size: 21px; color: #333;">10753</div>
                    <div class="des" style="font-size: 14px; color: #666; margin-top: 5px;">平均点赞</div>
                </div>
            <div class="item" style="margin-left: 80px; display: inline-block; text-align: center;">
                    <div  style="font-weight: 600; font-size: 21px; color: #333;">2213</div>
                    <div class="des" style="font-size: 14px; color: #666; margin-top: 5px;">平均评论</div>
                </div>
            <div class="item" style="margin-left: 80px; display: inline-block; text-align: center;">
                    <div  style="font-weight: 600; font-size: 21px; color: #333;">972</div>
                    <div class="des" style="font-size: 14px; color: #666; margin-top: 5px;">平均转发</div>
                </div>

        </div>

<!--评论热词-->
      <nav style="margin-top: 30px">
          <a class="navbar-brand" href="#" style="color: #222222">
            <img src="/static/img/comment.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Top10评论热词
          </a>
      </nav>
          <div class="shadow p-3 mb-5 bg-white rounded" style="margin-top: 15px">
        <div id="compare" style="width:900px;height:350px" >
            <script>
                var compares = echarts.init(document.getElementById('compare'), 'white', {renderer: 'canvas'});
                function fetchData_keys() {
                    $.ajax({
                        type: "GET",
                        url: "http://127.0.0.1:5000/bar-keys-comment",
                        dataType: 'json',
                        success: function (result) {
                            compares.setOption(result);
                        }
                    });
                }
            </script>
        </div>
              </div>

<!--热门评论-->
      <nav style="margin-top: 30px">
          <a class="navbar-brand" href="#" style="color: #222222">
            <img src="/static/img/commentall.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            热门评论
          </a>
      </nav>
          {% for comment in hot_comments[0:10] %}
      <div>
          <div style="display: inline-block; margin-top: 60px">
              <img class="rounded-circle" src="https://tvax3.sinaimg.cn/crop.0.0.512.512.180/006n658Sly8fun5b58y23j30e80e8gm1.jpg?KID=imgbed,tva&Expires=1584173104&ssig=Qosu9NQY0r" alt="读取失败" width="50" height="50">
          </div>
                <div style="display: inline-block">
                  <div style='font: 16px "PingFang SC"; color: #555555; margin-left: 25px'>{{comment["nick"]}}</div>
                  <div style='font: 18px "PingFang SC"; color: #222222; margin-left: 25px; margin-top: 15px'>{{comment["content"]}}</div>
                  <div style='font: 13px "PingFang SC"; color: #999999; margin-left: 25px; margin-top: 15px'>{{comment["creat_time"]}}</div>
                </div>
          <div class="item" style="margin-top: 30px; margin-right: 50px;display: inline-block; text-align: center; float: right">
                    <img src="/static/img/zan.png" width="25" height="25" class="d-inline-block align-top" alt="">
                    <div  style="font-weight: 600; font-size: 21px; color: #888888;">{{comment["like"]}}</div>

                </div>
          </div>
              <hr>
          {% endfor %}


<!--        -->
    </div>
    </div>
  </div>
</body>
</html>

