<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>微博画像</title>
    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/echarts-wordcloud.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
    <script type="text/javascript" src="/static/css/china.js"></script>
</head>

<body>
  <!-- 导航栏 -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a href="{{url_for('index')}}"><img src="http://www.cbdio.com/image/attachement/jpg/site2/20150106/3417eb9bbd5916158ab154.jpg"
    style="width: 70px; height: 60px;"></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active" style="margin-left: 20px; font-size: 18px">
        <a style="margin-left: 1px; font-size: 20px" class="nav-link" href="{{url_for('index')}}">主页 </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="请输入..." aria-label="Search" >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜一下</button>
    </form>
  </div>
</nav>
  <!-- 侧边栏（第一个大类） -->
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" style="margin-top: 30px" id="v-pills-home-tab" href="{{ url_for('index') }}" role="tab" aria-controls="v-pills-home" aria-selected="true">综合</a>
          <a class="nav-link active" style="margin-top: 30px" id="v-pills-weibo-tab" href="{{ url_for('weibosearch') }}" role="tab" aria-controls="v-pills-profile" aria-selected="false">微博分析</a>
          <a class="nav-link" style="margin-top: 30px" id="v-pills-user-tab"  href="{{ url_for('usersearch') }}" role="tab" aria-controls="v-pills-messages" aria-selected="false">博主分析</a>
          <a class="nav-link" style="margin-top: 30px" id="v-pills-monitor-tab" href="{{url_for('monitor') }}" role="tab" aria-controls="v-pills-settings" aria-selected="false">微博监测</a>
          <a class="nav-link" style="margin-top: 30px" id="v-pills-hotpot-tab" href="{{url_for('hotpoint')}}" role="tab" aria-controls="v-pills-settings" aria-selected="false">热点Top20</a>
        </div>
      </div>
    <!-- 第二个大类-->
    <div class="col-sm-10">
      <div class="news-list">
        <!-- 搜索框 -->
        <form action="http://127.0.0.1:5000/weibosearch/result" method="post">
             <div class="input-group mb-3" style="margin-top: 10px; ">
                <input type="text" class="form-control" placeholder="请输入微博链接" name="weibo" aria-label="Recipient's username" aria-describedby="button-addon2"/>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary" style="background-color:#007bff; color: #fff; border-color: #007bff">搜一下</button>
                </div>
             </div>
        </form>
        </div>
<!--        &lt;!&ndash; <p>共搜到15个博主</p> &ndash;&gt;-->
<!--        <div class="alert alert-success" role="alert">-->
<!--            共搜到<a href="#" class="alert-link">{{counts}}</a>条微博-->
<!--        </div>-->
      <!-- 段落 -->
        <hr>
        {% for data in infos %}
          <!-- 微博详细信息 -->
          <div class="shadow p-3 mb-5 bg-white rounded" style="margin-top: 15px">
<div style="display: inline-block"><img class="rounded-circle" src={{data["avatar"]}} alt="读取失败" width="60" height="60"></div>            <div style="display: inline-block">
              <div style='font: 10px "PingFang SC"; color: #222222; margin-left: 15px'><a href="{{url_for('userinfo')}}" style="color:#333"><h5 style="font-size: 17.5px">{{data["nick"]}}</h5></a></div>
              <div style='font: 13px "PingFang SC"; color: #666666; margin-left: 15px; margin-top: 15px'>发布于：{{data["creat_time"]}} | 类别：国家 | 来自：网页版微博</div>
            </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p  style="font-size: 15px;"><a href="{{url_for('weiboinfo')}}" style="color: #222222">{{data["content"]}}</a></p>
              <div style="text-align: right; margin-top: 30px;">
                  <img src="/static/img/trans.svg" width="20" height="20" class="d-inline-block align-top" alt="" style="margin-left: 20px; ">
                  <a style="color: #6c757d; font-size: 17px">{{data["retrans"]}}</a>
                  <img src="/static/img/pinglun.svg" width="20" height="20" class="d-inline-block align-top" alt="" style="margin-left: 20px; ">
                  <a style="color: #6c757d; font-size: 17px" >{{data["comment"]}}</a>
                  <img src="/static/img/zan.png" width="20" height="20" class="d-inline-block align-top" alt="" style="margin-left: 20px;">
                  <a style="color: #6c757d; font-size: 17px">{{data["like"]}}</a>
              </div>
            </blockquote>
          </div>
        </div>
        {% endfor %}



    <!--  -->
   </div>
  </div>
    <!--  -->
  </div>
</div>

</body>

</html>
